{% extends "posts/base.html" %}

{% block title %} Crear Post | Mi Blog{% endblock %}

{% block content %}
    <form action="{% url "crear_post" %}" method="post">
        {% csrf_token %}
        {% comment %} <label for="titulo">
            Titulo
        </label>
        <input type="text" id="titulo" name="titulo" required maxlength="100">
        <label for="autor">
            Autor
        </label>
        <input type="text" id="autor" name="autor" required>
        <label for="contenido">
            Contenido
        </label>
        <textarea id="contenido" name="contenido" required></textarea> {% endcomment %}

        {% comment %} Comun {% endcomment %}
        {{formulario}}
        {% comment %} CBV {% endcomment %}
        {{form}}

        <input type="submit" value="Crear Post">
        {% comment %} <button></button> {% endcomment %}
    </form>

    <a href="{% url 'lista_posts' %}">Volver al listado</a>
{% endblock %}
